{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "singleQuote": false,
    "singleAttributePerLine": true,
    "endOfLine": "lf"
}
